In [1]:
import pandas as pd

from mplchart.samples import sample_prices
from mplchart.mapper import DateIndexMapper

In [2]:
ticker = "AAPL"
prices = sample_prices(max_bars=5000)
prices

                  open        high         low       close     volume
date
2004-07-26    0.465754    0.474812    0.464697    0.471944  393932000
2004-07-27    0.480096    0.494438    0.476624    0.489607  425006400
2004-07-28    0.487796    0.489306    0.470435    0.487192  285051200
2004-07-29    0.490211    0.495495    0.485079    0.492778  222157600
2004-07-30    0.492930    0.498214    0.483116    0.488249  243023200
...                ...         ...         ...         ...        ...
2024-05-29  189.610001  192.250000  189.509995  190.289993   53068000
2024-05-30  190.759995  192.179993  190.630005  191.289993   49947900
2024-05-31  191.440002  192.570007  189.910004  192.250000   75158300
2024-06-03  192.899994  194.990005  192.520004  194.029999   50031100
2024-06-04  194.720001  195.320007  193.034195  194.529999   29703490

[5000 rows x 5 columns]

In [3]:
mapper = DateIndexMapper(prices.index, max_bars=10)
mapper

In [4]:
mapper.extract_df(prices)

            open        high         low       close    volume
4990  191.089996  192.729996  190.919998  192.350006  42309400
4991  192.270004  192.820007  190.270004  190.899994  34648500
4992  190.979996  191.000000  186.630005  186.880005  51005900
4993  188.820007  190.580002  188.039993  189.979996  36294600
4994  191.509995  193.000000  189.100006  189.990005  52280100
4995  189.610001  192.250000  189.509995  190.289993  53068000
4996  190.759995  192.179993  190.630005  191.289993  49947900
4997  191.440002  192.570007  189.910004  192.250000  75158300
4998  192.899994  194.990005  192.520004  194.029999  50031100
4999  194.720001  195.320007  193.034195  194.529999  29703490

In [6]:
prices2 = pd.concat([prices, prices]).sort_index()
prices2

                  open        high         low       close     volume
date
2004-07-26    0.465754    0.474812    0.464697    0.471944  393932000
2004-07-26    0.465754    0.474812    0.464697    0.471944  393932000
2004-07-27    0.480096    0.494438    0.476624    0.489607  425006400
2004-07-27    0.480096    0.494438    0.476624    0.489607  425006400
2004-07-28    0.487796    0.489306    0.470435    0.487192  285051200
...                ...         ...         ...         ...        ...
2024-05-31  191.440002  192.570007  189.910004  192.250000   75158300
2024-06-03  192.899994  194.990005  192.520004  194.029999   50031100
2024-06-03  192.899994  194.990005  192.520004  194.029999   50031100
2024-06-04  194.720001  195.320007  193.034195  194.529999   29703490
2024-06-04  194.720001  195.320007  193.034195  194.529999   29703490

[10000 rows x 5 columns]

In [7]:
mapper.extract_df(prices2)

            open        high         low       close    volume
4990  191.089996  192.729996  190.919998  192.350006  42309400
4990  191.089996  192.729996  190.919998  192.350006  42309400
4991  192.270004  192.820007  190.270004  190.899994  34648500
4991  192.270004  192.820007  190.270004  190.899994  34648500
4992  190.979996  191.000000  186.630005  186.880005  51005900
4992  190.979996  191.000000  186.630005  186.880005  51005900
4993  188.820007  190.580002  188.039993  189.979996  36294600
4993  188.820007  190.580002  188.039993  189.979996  36294600
4994  191.509995  193.000000  189.100006  189.990005  52280100
4994  191.509995  193.000000  189.100006  189.990005  52280100
4995  189.610001  192.250000  189.509995  190.289993  53068000
4995  189.610001  192.250000  189.509995  190.289993  53068000
4996  190.759995  192.179993  190.630005  191.289993  49947900
4996  190.759995  192.179993  190.630005  191.289993  49947900
4997  191.440002  192.570007  189.910004  192.250000  75158300
4997  191.440002  192.570007  189.910004  192.250000  75158300
4998  192.899994  194.990005  192.520004  194.029999  50031100
4998  192.899994  194.990005  192.520004  194.029999  50031100
4999  194.720001  195.320007  193.034195  194.529999  29703490
4999  194.720001  195.320007  193.034195  194.529999  29703490