In [3]:
import pandas as pd

from mplchart.samples import sample_prices
from mplchart.mapper import DateIndexMapper

In [4]:
ticker = "AAPL"
prices = sample_prices(max_bars=5000)
prices

                  open        high         low       close     volume
date
2004-05-03    0.393064    0.398053    0.389133    0.394122  297634400
2004-05-04    0.392611    0.401379    0.385505    0.395181  279983200
2004-05-05    0.396087    0.404403    0.392459    0.402891  238106400
2004-05-06    0.399112    0.404403    0.391552    0.401832  263558400
2004-05-07    0.401379    0.416799    0.401379    0.403193  419036800
...                ...         ...         ...         ...        ...
2024-03-07  169.149994  170.729996  168.490005  169.000000   71765100
2024-03-08  169.000000  173.699997  168.940002  170.729996   76114600
2024-03-11  172.940002  174.380005  172.050003  172.750000   60139500
2024-03-12  173.149994  174.029999  171.009995  173.229996   59734600
2024-03-13  172.770004  173.184998  170.759995  171.647095   30868569

[5000 rows x 5 columns]

In [5]:
mapper = DateIndexMapper(prices.index, max_bars=250)
mapper

In [6]:
mapper.extract_df(prices)

            open        high         low       close    volume
4750  151.352141  155.629314  150.834898  155.022552  76161100
4751  155.251331  155.907830  153.460884  154.177063  98944600
4752  154.246670  156.982069  153.331541  156.564285  73641400
4753  156.484756  158.553699  155.708883  158.434341  73938300
4754  158.454216  161.279134  156.972122  156.992020  75701800
...          ...         ...         ...         ...       ...
4995  169.149994  170.729996  168.490005  169.000000  71765100
4996  169.000000  173.699997  168.940002  170.729996  76114600
4997  172.940002  174.380005  172.050003  172.750000  60139500
4998  173.149994  174.029999  171.009995  173.229996  59734600
4999  172.770004  173.184998  170.759995  171.647095  30868569

[250 rows x 5 columns]

In [7]:
mapper.slice(prices)

                  open        high         low       close    volume
date
2023-03-16  151.352141  155.629314  150.834898  155.022552  76161100
2023-03-17  155.251331  155.907830  153.460884  154.177063  98944600
2023-03-20  154.246670  156.982069  153.331541  156.564285  73641400
2023-03-21  156.484756  158.553699  155.708883  158.434341  73938300
2023-03-22  158.454216  161.279134  156.972122  156.992020  75701800
...                ...         ...         ...         ...       ...
2024-03-07  169.149994  170.729996  168.490005  169.000000  71765100
2024-03-08  169.000000  173.699997  168.940002  170.729996  76114600
2024-03-11  172.940002  174.380005  172.050003  172.750000  60139500
2024-03-12  173.149994  174.029999  171.009995  173.229996  59734600
2024-03-13  172.770004  173.184998  170.759995  171.647095  30868569

[250 rows x 5 columns]

In [8]:
prices2 = pd.concat([prices, prices]).sort_index()
prices2

                  open        high         low       close     volume
date
2004-05-03    0.393064    0.398053    0.389133    0.394122  297634400
2004-05-03    0.393064    0.398053    0.389133    0.394122  297634400
2004-05-04    0.392611    0.401379    0.385505    0.395181  279983200
2004-05-04    0.392611    0.401379    0.385505    0.395181  279983200
2004-05-05    0.396087    0.404403    0.392459    0.402891  238106400
...                ...         ...         ...         ...        ...
2024-03-11  172.940002  174.380005  172.050003  172.750000   60139500
2024-03-12  173.149994  174.029999  171.009995  173.229996   59734600
2024-03-12  173.149994  174.029999  171.009995  173.229996   59734600
2024-03-13  172.770004  173.184998  170.759995  171.647095   30868569
2024-03-13  172.770004  173.184998  170.759995  171.647095   30868569

[10000 rows x 5 columns]

In [9]:
mapper.extract_df(prices2)

            open        high         low       close    volume
4750  151.352141  155.629314  150.834898  155.022552  76161100
4750  151.352141  155.629314  150.834898  155.022552  76161100
4751  155.251331  155.907830  153.460884  154.177063  98944600
4751  155.251331  155.907830  153.460884  154.177063  98944600
4752  154.246670  156.982069  153.331541  156.564285  73641400
...          ...         ...         ...         ...       ...
4997  172.940002  174.380005  172.050003  172.750000  60139500
4998  173.149994  174.029999  171.009995  173.229996  59734600
4998  173.149994  174.029999  171.009995  173.229996  59734600
4999  172.770004  173.184998  170.759995  171.647095  30868569
4999  172.770004  173.184998  170.759995  171.647095  30868569

[500 rows x 5 columns]

In [10]:
mapper.slice(prices2)

                  open        high         low       close    volume
date
2023-03-16  151.352141  155.629314  150.834898  155.022552  76161100
2023-03-16  151.352141  155.629314  150.834898  155.022552  76161100
2023-03-17  155.251331  155.907830  153.460884  154.177063  98944600
2023-03-17  155.251331  155.907830  153.460884  154.177063  98944600
2023-03-20  154.246670  156.982069  153.331541  156.564285  73641400
...                ...         ...         ...         ...       ...
2024-03-11  172.940002  174.380005  172.050003  172.750000  60139500
2024-03-12  173.149994  174.029999  171.009995  173.229996  59734600
2024-03-12  173.149994  174.029999  171.009995  173.229996  59734600
2024-03-13  172.770004  173.184998  170.759995  171.647095  30868569
2024-03-13  172.770004  173.184998  170.759995  171.647095  30868569

[500 rows x 5 columns]