# Pandas DateTimeIndex (playground)

In [91]:
import numpy as np
import pandas as pd

from datetime import date

from mplchart.samples import sample_prices
from mplchart.mapper import DateIndexMapper

In [92]:
freq = "daily"
prices = sample_prices(freq, max_bars=5000)
prices

                  open        high         low       close     volume
date
2004-07-26    0.465754    0.474812    0.464697    0.471944  393932000
2004-07-27    0.480096    0.494438    0.476624    0.489607  425006400
2004-07-28    0.487796    0.489306    0.470435    0.487192  285051200
2004-07-29    0.490211    0.495495    0.485079    0.492778  222157600
2004-07-30    0.492930    0.498214    0.483116    0.488249  243023200
...                ...         ...         ...         ...        ...
2024-05-29  189.610001  192.250000  189.509995  190.289993   53068000
2024-05-30  190.759995  192.179993  190.630005  191.289993   49947900
2024-05-31  191.440002  192.570007  189.910004  192.250000   75158300
2024-06-03  192.899994  194.990005  192.520004  194.029999   50031100
2024-06-04  194.720001  195.320007  193.034195  194.529999   29703490

[5000 rows x 5 columns]

In [93]:
index = prices.index
index

DatetimeIndex(['2004-07-26', '2004-07-27', '2004-07-28', '2004-07-29',
               '2004-07-30', '2004-08-02', '2004-08-03', '2004-08-04',
               '2004-08-05', '2004-08-06',
               ...
               '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24',
               '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31',
               '2024-06-03', '2024-06-04'],
              dtype='datetime64[ns]', name='date', length=5000, freq=None)

In [94]:
type(index)

pandas.core.indexes.datetimes.DatetimeIndex

In [95]:
index.tz_localize(None)

DatetimeIndex(['2004-07-26', '2004-07-27', '2004-07-28', '2004-07-29',
               '2004-07-30', '2004-08-02', '2004-08-03', '2004-08-04',
               '2004-08-05', '2004-08-06',
               ...
               '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24',
               '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31',
               '2024-06-03', '2024-06-04'],
              dtype='datetime64[ns]', name='date', length=5000, freq=None)

In [96]:

index.date

array([datetime.date(2004, 7, 26), datetime.date(2004, 7, 27),
       datetime.date(2004, 7, 28), ..., datetime.date(2024, 5, 31),
       datetime.date(2024, 6, 3), datetime.date(2024, 6, 4)], dtype=object)

In [97]:
index.tz

In [98]:
start, end = date(1960, 1, 1), date(2025, 12, 31)
start, end = None, None
locs = index.tz_localize(None).slice_indexer(start=start, end=end)
print(locs)
index[locs]

slice(0, 5000, None)

DatetimeIndex(['2004-07-26', '2004-07-27', '2004-07-28', '2004-07-29',
               '2004-07-30', '2004-08-02', '2004-08-03', '2004-08-04',
               '2004-08-05', '2004-08-06',
               ...
               '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24',
               '2024-05-28', '2024-05-29', '2024-05-30', '2024-05-31',
               '2024-06-03', '2024-06-04'],
              dtype='datetime64[ns]', name='date', length=5000, freq=None)

In [99]:
max_bars = 5

print(locs)

start = locs.start
stop = locs.stop or len(index)

if stop - start > max_bars:
    start = stop - max_bars
    locs = slice(start, stop)

print(locs)

slice(0, 5000, None)
slice(4995, 5000, None)

In [101]:
xloc = pd.Series(np.arange(len(index)), index=index)

xloc, data = xloc.align(prices, join="inner")

data = data.set_axis(xloc)

data

            open        high         low       close     volume
0       0.465754    0.474812    0.464697    0.471944  393932000
1       0.480096    0.494438    0.476624    0.489607  425006400
2       0.487796    0.489306    0.470435    0.487192  285051200
3       0.490211    0.495495    0.485079    0.492778  222157600
4       0.492930    0.498214    0.483116    0.488249  243023200
...          ...         ...         ...         ...        ...
4995  189.610001  192.250000  189.509995  190.289993   53068000
4996  190.759995  192.179993  190.630005  191.289993   49947900
4997  191.440002  192.570007  189.910004  192.250000   75158300
4998  192.899994  194.990005  192.520004  194.029999   50031100
4999  194.720001  195.320007  193.034195  194.529999   29703490

[5000 rows x 5 columns]

In [102]:
data.loc[slice(0, 5000, 2)].loc[locs]

            open        high         low       close    volume
4996  190.759995  192.179993  190.630005  191.289993  49947900
4998  192.899994  194.990005  192.520004  194.029999  50031100

In [105]:
data.loc[slice(4995, 4999, None)]

            open        high         low       close    volume
4995  189.610001  192.250000  189.509995  190.289993  53068000
4996  190.759995  192.179993  190.630005  191.289993  49947900
4997  191.440002  192.570007  189.910004  192.250000  75158300
4998  192.899994  194.990005  192.520004  194.029999  50031100
4999  194.720001  195.320007  193.034195  194.529999  29703490

In [108]:
index[slice(4995, 4999, None)]

DatetimeIndex(['2024-05-29', '2024-05-30', '2024-05-31', '2024-06-03'], dtype='datetime64[ns]', name='date', freq=None)