# Fetching prices with the helper module (deprecated)

In [1]:
from mplchart import helper

/var/folders/c3/54m9yxns31905dkkhzl115lw0000gn/T/ipykernel_62284/4192667834.py:3: DeprecationWarning: The helper module is deprecated. Use your own data source.
  from mplchart import helper

In [2]:
[k for k, v in vars(helper).items() if callable(v)]

['list_cache', 'clear_cache', 'map_frequency', 'maximum_period', 'get_prices']

In [3]:
for file in helper.list_cache():
    print(file.name)

In [4]:
helper.clear_cache(verbose=True)

In [5]:
helper.get_prices("AAPL", freq="daily")

                  open        high         low       close     volume
date
1980-12-12    0.099192    0.099623    0.099192    0.099192  469033600
1980-12-15    0.094448    0.094448    0.094017    0.094017  175884800
1980-12-16    0.087548    0.087548    0.087117    0.087117  105728000
1980-12-17    0.089273    0.089704    0.089273    0.089273   86441600
1980-12-18    0.091861    0.092292    0.091861    0.091861   73449600
...                ...         ...         ...         ...        ...
2024-03-07  169.149994  170.729996  168.490005  169.000000   71765100
2024-03-08  169.000000  173.699997  168.940002  170.729996   76114600
2024-03-11  172.940002  174.380005  172.050003  172.750000   60139500
2024-03-12  173.149994  174.029999  171.009995  173.229996   59734600
2024-03-13  172.770004  173.184998  170.759995  171.399994   27959119

[10903 rows x 5 columns]

In [6]:
helper.get_prices("AAPL", freq="weekly")

                  open        high         low       close     volume
date
1980-12-08    0.099192    0.099623    0.099192    0.099192  469033600
1980-12-15    0.094448    0.097898    0.087117    0.097467  490134400
1980-12-22    0.102211    0.122912    0.102211    0.122481  187891200
1980-12-29    0.124206    0.124637    0.117737    0.119031  219452800
1981-01-05    0.116875    0.116875    0.104368    0.109974  197904000
...                ...         ...         ...         ...        ...
2024-02-12  188.419998  188.669998  181.350006  182.309998  268077800
2024-02-19  181.789993  185.039993  180.000000  182.520004  192607200
2024-02-26  182.240005  183.919998  177.380005  179.660004  354310800
2024-03-04  176.149994  176.899994  168.490005  170.729996  393109900
2024-03-11  172.940002  174.380005  170.759995  171.393600  147833386

[2258 rows x 5 columns]

In [7]:
helper.get_prices("AAPL", freq="monthly")

                  open        high         low       close      volume
date
1985-01-01    0.100486    0.107386    0.096173    0.100055  6366416000
1985-02-01    0.100055    0.106093    0.085392    0.085392  4733388800
1985-03-01    0.085392    0.089704    0.071591    0.076335  4615587200
1985-04-01    0.076335    0.079354    0.067710    0.073316  2868028800
1985-05-01    0.073316    0.076766    0.058222    0.059947  4639129600
...                ...         ...         ...         ...         ...
2023-11-01  170.557368  192.430595  169.679641  189.458313  1099586100
2023-12-01  190.087444  199.365598  187.211110  192.284637  1062774800
2024-01-01  186.911489  196.129737  179.940388  184.164993  1187219300
2024-02-01  183.755530  190.806530  179.021565  180.519653  1161627000
2024-03-01  179.550003  180.529999  168.490005  171.393600   614431309

[471 rows x 5 columns]

In [8]:
helper.get_prices("AAPL", freq="1min")

,open,high,low,close,volume
date,,,,,
2024-03-05 09:30:00-05:00,170.895004,170.960007,170.880005,170.919998,5958861
2024-03-05 09:31:00-05:00,171.000000,171.080002,170.999496,171.059998,926341
2024-03-05 09:32:00-05:00,171.339905,171.339996,171.270004,171.300003,703908
2024-03-05 09:33:00-05:00,171.929993,171.929993,171.875000,171.895004,994237
2024-03-05 09:34:00-05:00,171.625000,171.740005,171.580002,171.610001,626087
...,...,...,...,...,...
2024-03-13 13:24:00-04:00,171.324997,171.376007,171.309998,171.371201,59653
2024-03-13 13:25:00-04:00,171.375000,171.440002,171.375000,171.399994,126625
2024-03-13 13:26:00-04:00,171.395004,171.419998,171.380005,171.395905,56993
2024-03-13 13:27:00-04:00,171.395004,171.407196,171.360001,171.392395,47852
2024-03-13 13:28:00-04:00,171.393600,171.393600,171.393600,171.393600,0

In [9]:
helper.get_prices("AAPL", freq="5min")

,open,high,low,close,volume
date,,,,,
2023-12-15 09:30:00-05:00,197.789993,198.009995,197.125000,197.250000,18998133
2023-12-15 09:35:00-05:00,197.250000,197.919998,197.080002,197.697998,1906887
2023-12-15 09:40:00-05:00,197.690002,198.059906,197.460007,197.929993,787100
2023-12-15 09:45:00-05:00,197.940002,198.149994,197.550003,197.639999,827365
2023-12-15 09:50:00-05:00,197.649994,197.919998,197.559998,197.604996,498733
...,...,...,...,...,...
2024-03-13 13:05:00-04:00,171.089996,171.335007,171.089996,171.214996,502730
2024-03-13 13:10:00-04:00,171.220001,171.365005,171.213303,171.309998,361154
2024-03-13 13:15:00-04:00,171.310303,171.330002,171.139999,171.235001,427851
2024-03-13 13:20:00-04:00,171.240005,171.376007,171.240005,171.371201,330700
2024-03-13 13:25:00-04:00,171.375000,171.440002,171.360001,171.398697,263946

In [10]:
helper.get_prices("AAPL", freq="15min")

                           open        high         low       close    volume
date
2023-12-15 09:30:00  197.789993  198.059906  197.080002  197.929993  21692120
2023-12-15 09:45:00  197.940002  198.149994  197.535004  197.884995   1928102
2023-12-15 10:00:00  197.889999  198.229904  197.554993  198.149994   2149409
2023-12-15 10:15:00  198.139999  198.399902  198.009995  198.029999   1938818
2023-12-15 10:30:00  198.039993  198.158997  197.570007  197.579895   1951387
...                         ...         ...         ...         ...       ...
2024-03-13 12:15:00  170.945007  171.139999  170.945007  171.059998   1071992
2024-03-13 12:30:00  171.070007  171.119995  170.940002  171.039993   1938135
2024-03-13 12:45:00  171.050003  171.070007  170.945007  171.014999    983009
2024-03-13 13:00:00  171.014999  171.365005  171.014999  171.309998   1522681
2024-03-13 13:15:00  171.310303  171.440002  171.139999  171.395004   1022497

[1550 rows x 5 columns]

In [11]:
helper.get_prices("AAPL", freq="1hour")

,open,high,low,close,volume
date,,,,,
2023-12-15 09:30:00-05:00,197.789993,198.399902,197.080002,198.029999,27708449
2023-12-15 10:30:00-05:00,198.039993,198.158997,197.350006,197.625000,6069219
2023-12-15 11:30:00-05:00,197.630005,198.020004,197.535004,197.729996,4016473
2023-12-15 12:30:00-05:00,197.740005,197.740005,197.100006,197.375000,4909415
2023-12-15 13:30:00-05:00,197.380005,197.664993,197.020004,197.270004,4612469
...,...,...,...,...,...
2024-03-12 15:30:00-04:00,173.854996,174.029999,173.149994,173.220001,6368886
2024-03-13 09:30:00-04:00,173.000000,173.029999,170.759995,170.985001,11960722
2024-03-13 10:30:00-04:00,170.985001,171.350006,170.865005,170.994995,6130049
2024-03-13 11:30:00-04:00,171.000000,171.179993,170.852707,171.059998,4316300
2024-03-13 12:30:00-04:00,171.070007,171.440002,170.940002,171.395004,5466322