In [17]:
import numpy as np
import pandas as pd


import yfinance as yf

from mplchart.chart import Chart
from mplchart.primitives import Candlesticks

In [18]:
ticker = "AAPL"
prices = yf.Ticker(ticker).history(period="max")
prices = prices.rename(columns=str.lower).rename_axis(index=str.lower)
prices = prices.tail(20)
prices

,open,high,low,close,volume,dividends,stock splits
date,,,,,,,
2024-11-22 00:00:00-05:00,228.059998,230.720001,228.059998,229.869995,38168300,0.0,0.0
2024-11-25 00:00:00-05:00,231.460007,233.250000,229.740005,232.869995,90152800,0.0,0.0
2024-11-26 00:00:00-05:00,233.330002,235.570007,233.330002,235.059998,45986200,0.0,0.0
2024-11-27 00:00:00-05:00,234.470001,235.690002,233.809998,234.929993,33498400,0.0,0.0
2024-11-29 00:00:00-05:00,234.809998,237.809998,233.970001,237.330002,28481400,0.0,0.0
2024-12-02 00:00:00-05:00,237.270004,240.789993,237.160004,239.589996,48137100,0.0,0.0
2024-12-03 00:00:00-05:00,239.809998,242.759995,238.899994,242.649994,38861000,0.0,0.0
2024-12-04 00:00:00-05:00,242.869995,244.110001,241.250000,243.009995,44383900,0.0,0.0
2024-12-05 00:00:00-05:00,243.990005,244.539993,242.130005,243.039993,40033900,0.0,0.0
2024-12-06 00:00:00-05:00,242.910004,244.630005,242.080002,242.839996,36870600,0.0,0.0
2024-12-09 00:00:00-05:00,241.830002,247.240005,241.750000,246.750000,44649200,0.0,0.0
2024-12-10 00:00:00-05:00,246.889999,248.210007,245.339996,247.770004,36914800,0.0,0.0
2024-12-11 00:00:00-05:00,247.960007,250.800003,246.259995,246.490005,45205800,0.0,0.0
2024-12-12 00:00:00-05:00,246.889999,248.740005,245.679993,247.960007,32777500,0.0,0.0
2024-12-13 00:00:00-05:00,247.820007,249.289993,246.240005,248.130005,33155300,0.0,0.0
2024-12-16 00:00:00-05:00,247.990005,251.380005,247.649994,251.039993,51694800,0.0,0.0
2024-12-17 00:00:00-05:00,250.080002,253.830002,249.779999,253.479996,51356400,0.0,0.0
2024-12-18 00:00:00-05:00,252.160004,254.279999,247.740005,248.050003,56774100,0.0,0.0
2024-12-19 00:00:00-05:00,247.500000,252.000000,247.089996,249.789993,60882300,0.0,0.0
2024-12-20 00:00:00-05:00,248.119995,255.000000,246.300003,254.490005,125429724,0.0,0.0

In [19]:
index = prices.head(15).index
index

DatetimeIndex(['2024-11-22 00:00:00-05:00', '2024-11-25 00:00:00-05:00',
               '2024-11-26 00:00:00-05:00', '2024-11-27 00:00:00-05:00',
               '2024-11-29 00:00:00-05:00', '2024-12-02 00:00:00-05:00',
               '2024-12-03 00:00:00-05:00', '2024-12-04 00:00:00-05:00',
               '2024-12-05 00:00:00-05:00', '2024-12-06 00:00:00-05:00',
               '2024-12-09 00:00:00-05:00', '2024-12-10 00:00:00-05:00',
               '2024-12-11 00:00:00-05:00', '2024-12-12 00:00:00-05:00',
               '2024-12-13 00:00:00-05:00'],
              dtype='datetime64[ns, America/New_York]', name='date', freq=None)

In [20]:
xloc = pd.Series(np.arange(len(index)), index=index)
xloc

date
2024-11-22 00:00:00-05:00     0
2024-11-25 00:00:00-05:00     1
2024-11-26 00:00:00-05:00     2
2024-11-27 00:00:00-05:00     3
2024-11-29 00:00:00-05:00     4
2024-12-02 00:00:00-05:00     5
2024-12-03 00:00:00-05:00     6
2024-12-04 00:00:00-05:00     7
2024-12-05 00:00:00-05:00     8
2024-12-06 00:00:00-05:00     9
2024-12-09 00:00:00-05:00    10
2024-12-10 00:00:00-05:00    11
2024-12-11 00:00:00-05:00    12
2024-12-12 00:00:00-05:00    13
2024-12-13 00:00:00-05:00    14
dtype: int64

In [21]:
data = prices.tail(15)
data

,open,high,low,close,volume,dividends,stock splits
date,,,,,,,
2024-12-02 00:00:00-05:00,237.270004,240.789993,237.160004,239.589996,48137100,0.0,0.0
2024-12-03 00:00:00-05:00,239.809998,242.759995,238.899994,242.649994,38861000,0.0,0.0
2024-12-04 00:00:00-05:00,242.869995,244.110001,241.250000,243.009995,44383900,0.0,0.0
2024-12-05 00:00:00-05:00,243.990005,244.539993,242.130005,243.039993,40033900,0.0,0.0
2024-12-06 00:00:00-05:00,242.910004,244.630005,242.080002,242.839996,36870600,0.0,0.0
2024-12-09 00:00:00-05:00,241.830002,247.240005,241.750000,246.750000,44649200,0.0,0.0
2024-12-10 00:00:00-05:00,246.889999,248.210007,245.339996,247.770004,36914800,0.0,0.0
2024-12-11 00:00:00-05:00,247.960007,250.800003,246.259995,246.490005,45205800,0.0,0.0
2024-12-12 00:00:00-05:00,246.889999,248.740005,245.679993,247.960007,32777500,0.0,0.0
2024-12-13 00:00:00-05:00,247.820007,249.289993,246.240005,248.130005,33155300,0.0,0.0
2024-12-16 00:00:00-05:00,247.990005,251.380005,247.649994,251.039993,51694800,0.0,0.0
2024-12-17 00:00:00-05:00,250.080002,253.830002,249.779999,253.479996,51356400,0.0,0.0
2024-12-18 00:00:00-05:00,252.160004,254.279999,247.740005,248.050003,56774100,0.0,0.0
2024-12-19 00:00:00-05:00,247.500000,252.000000,247.089996,249.789993,60882300,0.0,0.0
2024-12-20 00:00:00-05:00,248.119995,255.000000,246.300003,254.490005,125429724,0.0,0.0

In [22]:
xloc, data = xloc.align(data, join="inner")
data

,open,high,low,close,volume,dividends,stock splits
date,,,,,,,
2024-12-02 00:00:00-05:00,237.270004,240.789993,237.160004,239.589996,48137100,0.0,0.0
2024-12-03 00:00:00-05:00,239.809998,242.759995,238.899994,242.649994,38861000,0.0,0.0
2024-12-04 00:00:00-05:00,242.869995,244.110001,241.250000,243.009995,44383900,0.0,0.0
2024-12-05 00:00:00-05:00,243.990005,244.539993,242.130005,243.039993,40033900,0.0,0.0
2024-12-06 00:00:00-05:00,242.910004,244.630005,242.080002,242.839996,36870600,0.0,0.0
2024-12-09 00:00:00-05:00,241.830002,247.240005,241.750000,246.750000,44649200,0.0,0.0
2024-12-10 00:00:00-05:00,246.889999,248.210007,245.339996,247.770004,36914800,0.0,0.0
2024-12-11 00:00:00-05:00,247.960007,250.800003,246.259995,246.490005,45205800,0.0,0.0
2024-12-12 00:00:00-05:00,246.889999,248.740005,245.679993,247.960007,32777500,0.0,0.0
2024-12-13 00:00:00-05:00,247.820007,249.289993,246.240005,248.130005,33155300,0.0,0.0