# Talib Functions (playground)

In [1]:
import pandas as pd
import yfinance as yf

from talib import get_functions
from talib import abstract
from talib.abstract import Function

from mplchart.chart import Chart
from mplchart.primitives import Candlesticks

from IPython.display import display

In [2]:
functions = [Function(name).info for name in get_functions()]
functions = pd.DataFrame(functions).set_index("name")
functions

,group,display_name,function_flags,input_names,parameters,output_flags,output_names
name,,,,,,,
HT_DCPERIOD,Cycle Indicators,Hilbert Transform - Dominant Cycle Period,[Function has an unstable period],{'price': 'close'},{},{'real': ['Line']},[real]
HT_DCPHASE,Cycle Indicators,Hilbert Transform - Dominant Cycle Phase,[Function has an unstable period],{'price': 'close'},{},{'real': ['Line']},[real]
HT_PHASOR,Cycle Indicators,Hilbert Transform - Phasor Components,[Function has an unstable period],{'price': 'close'},{},"{'inphase': ['Line'], 'quadrature': ['Dashed L...","[inphase, quadrature]"
HT_SINE,Cycle Indicators,Hilbert Transform - SineWave,[Function has an unstable period],{'price': 'close'},{},"{'sine': ['Line'], 'leadsine': ['Dashed Line']}","[sine, leadsine]"
HT_TRENDMODE,Cycle Indicators,Hilbert Transform - Trend vs Cycle Mode,[Function has an unstable period],{'price': 'close'},{},{'integer': ['Line']},[integer]
...,...,...,...,...,...,...,...
NATR,Volatility Indicators,Normalized Average True Range,[Function has an unstable period],"{'prices': ['high', 'low', 'close']}",{'timeperiod': 14},{'real': ['Line']},[real]
TRANGE,Volatility Indicators,True Range,None,"{'prices': ['high', 'low', 'close']}",{},{'real': ['Line']},[real]
AD,Volume Indicators,Chaikin A/D Line,None,"{'prices': ['high', 'low', 'close', 'volume']}",{},{'real': ['Line']},[real]
ADOSC,Volume Indicators,Chaikin A/D Oscillator,None,"{'prices': ['high', 'low', 'close', 'volume']}","{'fastperiod': 3, 'slowperiod': 10}",{'real': ['Line']},[real]
OBV,Volume Indicators,On Balance Volume,None,"{'price': 'close', 'prices': ['volume']}",{},{'real': ['Line']},[real]

In [3]:
flags = [
    (name, item, ":".join(flags))
    for name in get_functions()
    for item, flags in Function(name).output_flags.items()
]

flags = pd.DataFrame(flags, columns=["name", "item", "flag"]).set_index(["name", "item"])

flags.style

In [4]:
flags.query("flag != 'Line'")

                                                 flag
name      item
HT_PHASOR quadrature                      Dashed Line
HT_SINE   leadsine                        Dashed Line
AROON     aroondown                       Dashed Line
MACD      macdsignal                      Dashed Line
          macdhist                          Histogram
MACDEXT   macdsignal                      Dashed Line
          macdhist                          Histogram
MACDFIX   macdsignal                      Dashed Line
          macdhist                          Histogram
STOCH     slowk                           Dashed Line
          slowd                           Dashed Line
BBANDS    upperband   Values represent an upper limit
          lowerband    Values represent a lower limit
MAMA      fama                            Dashed Line

In [5]:
flags.query("item not in ('real', 'integer')")

                                                   flag
name        item
HT_PHASOR   inphase                                Line
            quadrature                      Dashed Line
HT_SINE     sine                                   Line
            leadsine                        Dashed Line
MINMAX      min                                    Line
            max                                    Line
MINMAXINDEX minidx                                 Line
            maxidx                                 Line
AROON       aroondown                       Dashed Line
            aroonup                                Line
MACD        macd                                   Line
            macdsignal                      Dashed Line
            macdhist                          Histogram
MACDEXT     macd                                   Line
            macdsignal                      Dashed Line
            macdhist                          Histogram
MACDFIX     macd                                   Line
            macdsignal                      Dashed Line
            macdhist                          Histogram
STOCH       slowk                           Dashed Line
            slowd                           Dashed Line
STOCHF      fastk                                  Line
            fastd                                  Line
STOCHRSI    fastk                                  Line
            fastd                                  Line
BBANDS      upperband   Values represent an upper limit
            middleband                             Line
            lowerband    Values represent a lower limit
MAMA        mama                                   Line
            fama                            Dashed Line

In [6]:
ticker = "AAPL"
prices = yf.Ticker(ticker).history(period="5y")
prices = prices.rename(columns=str.lower).rename_axis(index=str.lower)
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2019-10-16 00:00:00-04:00 to 2024-10-15 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   open          1258 non-null   float64
 1   high          1258 non-null   float64
 2   low           1258 non-null   float64
 3   close         1258 non-null   float64
 4   volume        1258 non-null   int64
 5   dividends     1258 non-null   float64
 6   stock splits  1258 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.6 KB

In [7]:
fn = Function("SMA", 50)

def test_function(fn):
    display(fn)
    display(vars(fn))

test_function(fn)

{'name': 'SMA', 'group': 'Overlap Studies', 'display_name': 'Simple Moving Average', 'function_flags': ['Output scale same as input'], 'input_names': OrderedDict([('price', 'close')]), 'parameters': OrderedDict([('timeperiod', 50)]), 'output_flags': OrderedDict([('real', ['Line'])]), 'output_names': ['real']}

{'_Function__name': b'SMA',
 '_Function__namestr': 'SMA',
 '_Function__localdata': <_thread._local at 0x1454a5400>,
 'func_object': <function talib._ta_lib.SMA(real, timeperiod=-2147483648)>}

In [8]:
fn.info

{'name': 'SMA',
 'group': 'Overlap Studies',
 'display_name': 'Simple Moving Average',
 'function_flags': ['Output scale same as input'],
 'input_names': OrderedDict([('price', 'close')]),
 'parameters': OrderedDict([('timeperiod', 50)]),
 'output_flags': OrderedDict([('real', ['Line'])]),
 'output_names': ['real']}

In [11]:
fn(prices)

date
2019-10-16 00:00:00-04:00           NaN
2019-10-17 00:00:00-04:00           NaN
2019-10-18 00:00:00-04:00           NaN
2019-10-21 00:00:00-04:00           NaN
2019-10-22 00:00:00-04:00           NaN
                                ...
2024-10-09 00:00:00-04:00    223.075117
2024-10-10 00:00:00-04:00    223.219453
2024-10-11 00:00:00-04:00    223.408302
2024-10-14 00:00:00-04:00    223.642186
2024-10-15 00:00:00-04:00    224.138625
Length: 1258, dtype: float64

In [12]:
help(abstract.SMA)

Help on Function in module talib._ta_lib object:

class Function(builtins.object)
 |  Function(function_name, func_object, *args, **kwargs)
 |
 |  This is a pythonic wrapper around TALIB's abstract interface. It is
 |  intended to simplify using individual TALIB functions by providing a
 |  unified interface for setting/controlling input data, setting function
 |  parameters and retrieving results. Input data consists of a ``dict`` of
 |  ``numpy`` arrays (or a ``pandas.DataFrame`` or ``polars.DataFrame``), one
 |  array for each of open, high, low, close and volume. This can be set with
 |  the set_input_arrays() method. Which keyed array(s) are used as inputs when
 |  calling the function is controlled using the input_names property.
 |
 |  This class gets initialized with a TALIB function name and optionally an
 |  input_arrays object. It provides the following primary functions for
 |  setting inputs and retrieving results:
 |
 |  ---- input_array/TA-function-parameter set-only functions -----
 |  - set_input_arrays(input_arrays)
 |  - set_function_args([input_arrays,] [param_args_andor_kwargs])
 |
 |  Documentation for param_args_andor_kwargs can be seen by printing the
 |  Function instance or programatically via the info, input_names and
 |  parameters properties.
 |
 |  ----- result-returning functions -----
 |  - the outputs property wraps a method which ensures results are always valid
 |  - run([input_arrays]) # calls set_input_arrays and returns self.outputs
 |  - FunctionInstance([input_arrays,] [param_args_andor_kwargs]) # calls set_function_args and returns self.outputs
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kwargs)
 |      func_instance([input_arrays,] [parameter_args,] [input_price_series_kwargs,] [parameter_kwargs])
 |
 |      This is a shortcut to the outputs property that also allows setting
 |      the input_arrays dict and function parameters.
 |
 |  __init__(self, function_name, func_object, *args, **kwargs)
 |
 |  __repr__(self)
 |
 |  __str__(self)
 |
 |  __unicode__(self)
 |
 |  get_input_arrays(self)
 |      Returns a copy of the dict of input arrays in use.
 |
 |  get_input_names(self)
 |      Returns the dict of input price series names that specifies which
 |      of the ndarrays in input_arrays will be used to calculate the function.
 |
 |  get_parameters(self)
 |      Returns the function's optional parameters and their default values.
 |
 |  run(self, input_arrays=None)
 |      run([input_arrays=None])
 |
 |      This is a shortcut to the outputs property that also allows setting
 |      the input_arrays dict.
 |
 |  set_function_args(self, *args, **kwargs)
 |      optional args:[input_arrays,] [parameter_args,] [input_price_series_kwargs,] [parameter_kwargs]
 |
 |  set_input_arrays(self, input_arrays)
 |      Sets the dict of input_arrays to use. Returns True/False for
 |      subclasses:
 |
 |      If input_arrays is a dict with the keys open, high, low, close and
 |      volume, it is assigned as the input_array to use and this function
 |      returns True, returning False otherwise. If you implement your own
 |      data type and wish to subclass Function, you should wrap this function
 |      with an if-statement:
 |
 |      class CustomFunction(Function):
 |          def __init__(self, function_name):
 |              Function.__init__(self, function_name)
 |
 |          def set_input_arrays(self, input_data):
 |              if Function.set_input_arrays(self, input_data):
 |                  return True
 |              elif isinstance(input_data, some_module.CustomDataType):
 |                  input_arrays = Function.get_input_arrays(self)
 |                  # convert input_data to input_arrays and then call the super
 |                  Function.set_input_arrays(self, input_arrays)
 |                  return True
 |              return False
 |
 |  set_input_names(self, input_names)
 |      Sets the input price series names to use.
 |
 |  set_parameters(self, parameters=None, **kwargs)
 |      Sets the function parameter values.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  function_flags
 |      Returns any function flags defined for this indicator function.
 |
 |  info
 |      Returns a copy of the function's info dict.
 |
 |  lookback
 |      Returns the lookback window size for the function with the parameter
 |      values that are currently set.
 |
 |  output_flags
 |      Returns the flags for each output for this indicator function.
 |
 |  output_names
 |      Returns a list of the output names returned by this function.
 |
 |  outputs
 |      Returns the TA function values for the currently set input_arrays and
 |      parameters. Returned values are a ndarray if there is only one output
 |      or a list of ndarrays for more than one output.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  input_arrays
 |      Returns a copy of the dict of input arrays in use.
 |
 |  input_names
 |      Returns the dict of input price series names that specifies which
 |      of the ndarrays in input_arrays will be used to calculate the function.
 |
 |  parameters
 |      Returns the function's optional parameters and their default values.

In [13]:
res = abstract.Function("MACD")(prices)
print(type(res).__name__)
res

DataFrame

                               macd  macdsignal  macdhist
date
2019-10-16 00:00:00-04:00       NaN         NaN       NaN
2019-10-17 00:00:00-04:00       NaN         NaN       NaN
2019-10-18 00:00:00-04:00       NaN         NaN       NaN
2019-10-21 00:00:00-04:00       NaN         NaN       NaN
2019-10-22 00:00:00-04:00       NaN         NaN       NaN
...                             ...         ...       ...
2024-10-09 00:00:00-04:00  1.036082    1.113372 -0.077290
2024-10-10 00:00:00-04:00  1.174901    1.125678  0.049223
2024-10-11 00:00:00-04:00  1.151413    1.130825  0.020588
2024-10-14 00:00:00-04:00  1.419035    1.188467  0.230568
2024-10-15 00:00:00-04:00  1.815958    1.313965  0.501993

[1258 rows x 3 columns]

In [14]:
fn

{'name': 'SMA', 'group': 'Overlap Studies', 'display_name': 'Simple Moving Average', 'function_flags': ['Output scale same as input'], 'input_names': OrderedDict([('price', 'close')]), 'parameters': OrderedDict([('timeperiod', 50)]), 'output_flags': OrderedDict([('real', ['Line'])]), 'output_names': ['real']}

In [15]:
fn.info

{'name': 'SMA',
 'group': 'Overlap Studies',
 'display_name': 'Simple Moving Average',
 'function_flags': ['Output scale same as input'],
 'input_names': OrderedDict([('price', 'close')]),
 'parameters': OrderedDict([('timeperiod', 50)]),
 'output_flags': OrderedDict([('real', ['Line'])]),
 'output_names': ['real']}

In [16]:
vars(fn)

{'_Function__name': b'SMA',
 '_Function__namestr': 'SMA',
 '_Function__localdata': <_thread._local at 0x1454a5400>,
 'func_object': <function talib._ta_lib.SMA(real, timeperiod=-2147483648)>}

In [17]:
vars(fn.func_object)

{'__wrapped__': <cyfunction SMA at 0x1362ed450>}

In [18]:
str(fn)

'SMA([input_arrays], [timeperiod=50])\n\nSimple Moving Average (Overlap Studies)\n\nInputs:\n    price: (any ndarray)\nParameters:\n    timeperiod: 50\nOutputs:\n    real'

In [19]:
repr(fn)

"{'name': 'SMA', 'group': 'Overlap Studies', 'display_name': 'Simple Moving Average', 'function_flags': ['Output scale same as input'], 'input_names': OrderedDict([('price', 'close')]), 'parameters': OrderedDict([('timeperiod', 50)]), 'output_flags': OrderedDict([('real', ['Line'])]), 'output_names': ['real']}"

In [20]:
dir(fn)

['_Function__call_function',
 '_Function__check_opt_input_value',
 '_Function__get_opt_input_value',
 '_Function__input_price_series_names',
 '_Function__local',
 '_Function__localdata',
 '_Function__name',
 '_Function__namestr',
 '__call__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 'func_object',
 'function_flags',
 'get_input_arrays',
 'get_input_names',
 'get_parameters',
 'info',
 'input_arrays',
 'input_names',
 'lookback',
 'output_flags',
 'output_names',
 'outputs',
 'parameters',
 'run',
 'set_function_args',
 'set_input_arrays',
 'set_input_names',
 'set_parameters']