In [1]:
import logging

import numpy as np
import pandas as pd

logging.basicConfig(level=logging.DEBUG)

In [2]:
dates = np.array([
    "2024-01-05",
    "2024-01-20",
    "2024-02-03",
    "2024-03-15",
    "2024-03-28",
    "2024-04-20",
    "2024-05-20",
    "2024-06-20",
    ], dtype="datetime64[D]")

"""
Pandas Key Frequencies (freq):
'D': Daily
'W': Weekly
'M' / 'MS': Month End / Month Start
'Q' / 'QS': Quarter End / Quarter Start
'Y' / 'YS': Year End / Year Start 
 """


dates = pd.date_range(start="1999-12-31", periods=100, freq="D").to_numpy()
dates

NameError: name 'dates' is not defined

In [3]:

# Extract month, find where it changes
values = dates.astype("datetime64[W]").astype(int) // 1
mask = np.concatenate(([False], values[1:] != values[:-1]))  # include first date or not, up to you

dates[mask]
# array(['2024-01-05', '2024-02-03', '2024-03-15'], dtype='datetime64[D]')

array(['2000-01-06T00:00:00.000000000', '2000-01-13T00:00:00.000000000',
       '2000-01-20T00:00:00.000000000', '2000-01-27T00:00:00.000000000',
       '2000-02-03T00:00:00.000000000', '2000-02-10T00:00:00.000000000',
       '2000-02-17T00:00:00.000000000', '2000-02-24T00:00:00.000000000',
       '2000-03-02T00:00:00.000000000', '2000-03-09T00:00:00.000000000',
       '2000-03-16T00:00:00.000000000', '2000-03-23T00:00:00.000000000',
       '2000-03-30T00:00:00.000000000', '2000-04-06T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [4]:
months = dates.astype("datetime64[M]").astype(int) // 2
mask = np.concatenate(([True], months[1:] != months[:-1]))  # include first date or not, up to you
mask = np.concatenate(([False], months[1:] != months[:-1]))  # include first date or not, up to you

dates[mask]

array(['2000-01-01T00:00:00.000000000', '2000-03-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [5]:
indices = np.where(mask)[0]
indices

array([ 1, 61])

In [6]:
from mplchart.datetimes import date_ticks

mask = date_ticks(dates, 10)

dates[mask]

DEBUG:mplchart.datetimes:dates_ticks np.datetime64('1999-12-31T00:00:00'), np.datetime64('2000-04-08T00:00:00'), 10
DEBUG:mplchart.datetimes:dates_ticks np.timedelta64(855360,'s'), 'W', 1

array(['2000-01-06T00:00:00.000000000', '2000-01-13T00:00:00.000000000',
       '2000-01-20T00:00:00.000000000', '2000-01-27T00:00:00.000000000',
       '2000-02-03T00:00:00.000000000', '2000-02-10T00:00:00.000000000',
       '2000-02-17T00:00:00.000000000', '2000-02-24T00:00:00.000000000',
       '2000-03-02T00:00:00.000000000', '2000-03-09T00:00:00.000000000',
       '2000-03-16T00:00:00.000000000', '2000-03-23T00:00:00.000000000',
       '2000-03-30T00:00:00.000000000', '2000-04-06T00:00:00.000000000'],
      dtype='datetime64[ns]')

Numy Date Units
- Y: Year
- M: Month
- W: Week
- D: Day 

Numpy Time Units
- h: Hour
- m: Minute
- s: Second
- ms: Millisecond
- us or Î¼s: Microsecond
- ns: Nanosecond
- ps: Picosecond
- fs: Femtosecond
- as: Attosecond

In [54]:
import numpy as np

np.timedelta64(1, 'W') / np.timedelta64(1, 'D')

7.0

In [55]:
for freq in "D", "W", "M", "m", "s":
    print(dates.astype(f"datetime64[{freq}]"))

['1999-12-31' '2000-01-01' '2000-01-02' '2000-01-03' '2000-01-04'
 '2000-01-05' '2000-01-06' '2000-01-07' '2000-01-08' '2000-01-09'
 '2000-01-10' '2000-01-11' '2000-01-12' '2000-01-13' '2000-01-14'
 '2000-01-15' '2000-01-16' '2000-01-17' '2000-01-18' '2000-01-19'
 '2000-01-20' '2000-01-21' '2000-01-22' '2000-01-23' '2000-01-24'
 '2000-01-25' '2000-01-26' '2000-01-27' '2000-01-28' '2000-01-29'
 '2000-01-30' '2000-01-31' '2000-02-01' '2000-02-02' '2000-02-03'
 '2000-02-04' '2000-02-05' '2000-02-06' '2000-02-07' '2000-02-08'
 '2000-02-09' '2000-02-10' '2000-02-11' '2000-02-12' '2000-02-13'
 '2000-02-14' '2000-02-15' '2000-02-16' '2000-02-17' '2000-02-18'
 '2000-02-19' '2000-02-20' '2000-02-21' '2000-02-22' '2000-02-23'
 '2000-02-24' '2000-02-25' '2000-02-26' '2000-02-27' '2000-02-28'
 '2000-02-29' '2000-03-01' '2000-03-02' '2000-03-03' '2000-03-04'
 '2000-03-05' '2000-03-06' '2000-03-07' '2000-03-08' '2000-03-09'
 '2000-03-10' '2000-03-11' '2000-03-12' '2000-03-13' '2000-03-14'
 '2000-03-15' '2000-03-16' '2000-03-17' '2000-03-18' '2000-03-19'
 '2000-03-20' '2000-03-21' '2000-03-22' '2000-03-23' '2000-03-24'
 '2000-03-25' '2000-03-26' '2000-03-27' '2000-03-28' '2000-03-29'
 '2000-03-30' '2000-03-31' '2000-04-01' '2000-04-02' '2000-04-03'
 '2000-04-04' '2000-04-05' '2000-04-06' '2000-04-07' '2000-04-08']
['1999-12-30' '1999-12-30' '1999-12-30' '1999-12-30' '1999-12-30'
 '1999-12-30' '2000-01-06' '2000-01-06' '2000-01-06' '2000-01-06'
 '2000-01-06' '2000-01-06' '2000-01-06' '2000-01-13' '2000-01-13'
 '2000-01-13' '2000-01-13' '2000-01-13' '2000-01-13' '2000-01-13'
 '2000-01-20' '2000-01-20' '2000-01-20' '2000-01-20' '2000-01-20'
 '2000-01-20' '2000-01-20' '2000-01-27' '2000-01-27' '2000-01-27'
 '2000-01-27' '2000-01-27' '2000-01-27' '2000-01-27' '2000-02-03'
 '2000-02-03' '2000-02-03' '2000-02-03' '2000-02-03' '2000-02-03'
 '2000-02-03' '2000-02-10' '2000-02-10' '2000-02-10' '2000-02-10'
 '2000-02-10' '2000-02-10' '2000-02-10' '2000-02-17' '2000-02-17'
 '2000-02-17' '2000-02-17' '2000-02-17' '2000-02-17' '2000-02-17'
 '2000-02-24' '2000-02-24' '2000-02-24' '2000-02-24' '2000-02-24'
 '2000-02-24' '2000-02-24' '2000-03-02' '2000-03-02' '2000-03-02'
 '2000-03-02' '2000-03-02' '2000-03-02' '2000-03-02' '2000-03-09'
 '2000-03-09' '2000-03-09' '2000-03-09' '2000-03-09' '2000-03-09'
 '2000-03-09' '2000-03-16' '2000-03-16' '2000-03-16' '2000-03-16'
 '2000-03-16' '2000-03-16' '2000-03-16' '2000-03-23' '2000-03-23'
 '2000-03-23' '2000-03-23' '2000-03-23' '2000-03-23' '2000-03-23'
 '2000-03-30' '2000-03-30' '2000-03-30' '2000-03-30' '2000-03-30'
 '2000-03-30' '2000-03-30' '2000-04-06' '2000-04-06' '2000-04-06']
['1999-12' '2000-01' '2000-01' '2000-01' '2000-01' '2000-01' '2000-01'
 '2000-01' '2000-01' '2000-01' '2000-01' '2000-01' '2000-01' '2000-01'
 '2000-01' '2000-01' '2000-01' '2000-01' '2000-01' '2000-01' '2000-01'
 '2000-01' '2000-01' '2000-01' '2000-01' '2000-01' '2000-01' '2000-01'
 '2000-01' '2000-01' '2000-01' '2000-01' '2000-02' '2000-02' '2000-02'
 '2000-02' '2000-02' '2000-02' '2000-02' '2000-02' '2000-02' '2000-02'
 '2000-02' '2000-02' '2000-02' '2000-02' '2000-02' '2000-02' '2000-02'
 '2000-02' '2000-02' '2000-02' '2000-02' '2000-02' '2000-02' '2000-02'
 '2000-02' '2000-02' '2000-02' '2000-02' '2000-02' '2000-03' '2000-03'
 '2000-03' '2000-03' '2000-03' '2000-03' '2000-03' '2000-03' '2000-03'
 '2000-03' '2000-03' '2000-03' '2000-03' '2000-03' '2000-03' '2000-03'
 '2000-03' '2000-03' '2000-03' '2000-03' '2000-03' '2000-03' '2000-03'
 '2000-03' '2000-03' '2000-03' '2000-03' '2000-03' '2000-03' '2000-03'
 '2000-03' '2000-04' '2000-04' '2000-04' '2000-04' '2000-04' '2000-04'
 '2000-04' '2000-04']
['1999-12-31T00:00' '2000-01-01T00:00' '2000-01-02T00:00'
 '2000-01-03T00:00' '2000-01-04T00:00' '2000-01-05T00:00'
 '2000-01-06T00:00' '2000-01-07T00:00' '2000-01-08T00:00'
 '2000-01-09T00:00' '2000-01-10T00:00' '2000-01-11T00:00'
 '2000-01-12T00:00' '2000-01-13T00:00' '2000-01-14T00:00'
 '2000-01-15T00:00' '2000-01-16T00:00' '2000-01-17T00:00'
 '2000-01-18T00:00' '2000-01-19T00:00' '2000-01-20T00:00'
 '2000-01-21T00:00' '2000-01-22T00:00' '2000-01-23T00:00'
 '2000-01-24T00:00' '2000-01-25T00:00' '2000-01-26T00:00'
 '2000-01-27T00:00' '2000-01-28T00:00' '2000-01-29T00:00'
 '2000-01-30T00:00' '2000-01-31T00:00' '2000-02-01T00:00'
 '2000-02-02T00:00' '2000-02-03T00:00' '2000-02-04T00:00'
 '2000-02-05T00:00' '2000-02-06T00:00' '2000-02-07T00:00'
 '2000-02-08T00:00' '2000-02-09T00:00' '2000-02-10T00:00'
 '2000-02-11T00:00' '2000-02-12T00:00' '2000-02-13T00:00'
 '2000-02-14T00:00' '2000-02-15T00:00' '2000-02-16T00:00'
 '2000-02-17T00:00' '2000-02-18T00:00' '2000-02-19T00:00'
 '2000-02-20T00:00' '2000-02-21T00:00' '2000-02-22T00:00'
 '2000-02-23T00:00' '2000-02-24T00:00' '2000-02-25T00:00'
 '2000-02-26T00:00' '2000-02-27T00:00' '2000-02-28T00:00'
 '2000-02-29T00:00' '2000-03-01T00:00' '2000-03-02T00:00'
 '2000-03-03T00:00' '2000-03-04T00:00' '2000-03-05T00:00'
 '2000-03-06T00:00' '2000-03-07T00:00' '2000-03-08T00:00'
 '2000-03-09T00:00' '2000-03-10T00:00' '2000-03-11T00:00'
 '2000-03-12T00:00' '2000-03-13T00:00' '2000-03-14T00:00'
 '2000-03-15T00:00' '2000-03-16T00:00' '2000-03-17T00:00'
 '2000-03-18T00:00' '2000-03-19T00:00' '2000-03-20T00:00'
 '2000-03-21T00:00' '2000-03-22T00:00' '2000-03-23T00:00'
 '2000-03-24T00:00' '2000-03-25T00:00' '2000-03-26T00:00'
 '2000-03-27T00:00' '2000-03-28T00:00' '2000-03-29T00:00'
 '2000-03-30T00:00' '2000-03-31T00:00' '2000-04-01T00:00'
 '2000-04-02T00:00' '2000-04-03T00:00' '2000-04-04T00:00'
 '2000-04-05T00:00' '2000-04-06T00:00' '2000-04-07T00:00'
 '2000-04-08T00:00']
['1999-12-31T00:00:00' '2000-01-01T00:00:00' '2000-01-02T00:00:00'
 '2000-01-03T00:00:00' '2000-01-04T00:00:00' '2000-01-05T00:00:00'
 '2000-01-06T00:00:00' '2000-01-07T00:00:00' '2000-01-08T00:00:00'
 '2000-01-09T00:00:00' '2000-01-10T00:00:00' '2000-01-11T00:00:00'
 '2000-01-12T00:00:00' '2000-01-13T00:00:00' '2000-01-14T00:00:00'
 '2000-01-15T00:00:00' '2000-01-16T00:00:00' '2000-01-17T00:00:00'
 '2000-01-18T00:00:00' '2000-01-19T00:00:00' '2000-01-20T00:00:00'
 '2000-01-21T00:00:00' '2000-01-22T00:00:00' '2000-01-23T00:00:00'
 '2000-01-24T00:00:00' '2000-01-25T00:00:00' '2000-01-26T00:00:00'
 '2000-01-27T00:00:00' '2000-01-28T00:00:00' '2000-01-29T00:00:00'
 '2000-01-30T00:00:00' '2000-01-31T00:00:00' '2000-02-01T00:00:00'
 '2000-02-02T00:00:00' '2000-02-03T00:00:00' '2000-02-04T00:00:00'
 '2000-02-05T00:00:00' '2000-02-06T00:00:00' '2000-02-07T00:00:00'
 '2000-02-08T00:00:00' '2000-02-09T00:00:00' '2000-02-10T00:00:00'
 '2000-02-11T00:00:00' '2000-02-12T00:00:00' '2000-02-13T00:00:00'
 '2000-02-14T00:00:00' '2000-02-15T00:00:00' '2000-02-16T00:00:00'
 '2000-02-17T00:00:00' '2000-02-18T00:00:00' '2000-02-19T00:00:00'
 '2000-02-20T00:00:00' '2000-02-21T00:00:00' '2000-02-22T00:00:00'
 '2000-02-23T00:00:00' '2000-02-24T00:00:00' '2000-02-25T00:00:00'
 '2000-02-26T00:00:00' '2000-02-27T00:00:00' '2000-02-28T00:00:00'
 '2000-02-29T00:00:00' '2000-03-01T00:00:00' '2000-03-02T00:00:00'
 '2000-03-03T00:00:00' '2000-03-04T00:00:00' '2000-03-05T00:00:00'
 '2000-03-06T00:00:00' '2000-03-07T00:00:00' '2000-03-08T00:00:00'
 '2000-03-09T00:00:00' '2000-03-10T00:00:00' '2000-03-11T00:00:00'
 '2000-03-12T00:00:00' '2000-03-13T00:00:00' '2000-03-14T00:00:00'
 '2000-03-15T00:00:00' '2000-03-16T00:00:00' '2000-03-17T00:00:00'
 '2000-03-18T00:00:00' '2000-03-19T00:00:00' '2000-03-20T00:00:00'
 '2000-03-21T00:00:00' '2000-03-22T00:00:00' '2000-03-23T00:00:00'
 '2000-03-24T00:00:00' '2000-03-25T00:00:00' '2000-03-26T00:00:00'
 '2000-03-27T00:00:00' '2000-03-28T00:00:00' '2000-03-29T00:00:00'
 '2000-03-30T00:00:00' '2000-03-31T00:00:00' '2000-04-01T00:00:00'
 '2000-04-02T00:00:00' '2000-04-03T00:00:00' '2000-04-04T00:00:00'
 '2000-04-05T00:00:00' '2000-04-06T00:00:00' '2000-04-07T00:00:00'
 '2000-04-08T00:00:00']