In [16]:
from mplchart.samples import sample_prices

prices = sample_prices(freq="daily")
prices

                  open        high         low       close     volume
date
1980-12-12    0.099058    0.099488    0.099058    0.099058  469033600
1980-12-15    0.094321    0.094321    0.093890    0.093890  175884800
1980-12-16    0.087429    0.087429    0.086999    0.086999  105728000
1980-12-17    0.089152    0.089582    0.089152    0.089152   86441600
1980-12-18    0.091736    0.092167    0.091736    0.091736   73449600
...                ...         ...         ...         ...        ...
2024-05-29  189.610001  192.250000  189.509995  190.289993   53068000
2024-05-30  190.759995  192.179993  190.630005  191.289993   49947900
2024-05-31  191.440002  192.570007  189.910004  192.250000   75158300
2024-06-03  192.899994  194.990005  192.520004  194.029999   50031100
2024-06-04  194.720001  195.320007  193.034195  194.529999   29703490

[10960 rows x 5 columns]

In [17]:
index = prices.index.to_series()
index

date
1980-12-12   1980-12-12
1980-12-15   1980-12-15
1980-12-16   1980-12-16
1980-12-17   1980-12-17
1980-12-18   1980-12-18
                ...
2024-05-29   2024-05-29
2024-05-30   2024-05-30
2024-05-31   2024-05-31
2024-06-03   2024-06-03
2024-06-04   2024-06-04
Name: date, Length: 10960, dtype: datetime64[ns]

In [18]:
dates = index.to_numpy()
print(dates.dtype)
dates

datetime64[ns]

array(['1980-12-12T00:00:00.000000000', '1980-12-15T00:00:00.000000000',
       '1980-12-16T00:00:00.000000000', ...,
       '2024-05-31T00:00:00.000000000', '2024-06-03T00:00:00.000000000',
       '2024-06-04T00:00:00.000000000'], dtype='datetime64[ns]')

In [4]:
import numpy as np

ONEDAY = np.timedelta64(1, "D")

(dates[1]-dates[0])/ ONEDAY

3.0

In [5]:
dates.astype(object)

array([345427200000000000, 345686400000000000, 345772800000000000, ...,
       1717113600000000000, 1717372800000000000, 1717459200000000000],
      dtype=object)

In [6]:
dates[0].item()

345427200000000000

In [7]:
dates.astype('datetime64[s]').astype('O')

array([datetime.datetime(1980, 12, 12, 0, 0),
       datetime.datetime(1980, 12, 15, 0, 0),
       datetime.datetime(1980, 12, 16, 0, 0), ...,
       datetime.datetime(2024, 5, 31, 0, 0),
       datetime.datetime(2024, 6, 3, 0, 0),
       datetime.datetime(2024, 6, 4, 0, 0)], dtype=object)

In [8]:
import datetime as dt

pydates = dates.astype('datetime64[s]').astype('O') 
start = pydates[0]
end = pydates[-1]

In [9]:
ONEDAY = dt.timedelta(days=1)

(end - start) / ONEDAY

15880.0

In [10]:
def date_labels(dates):
    """labels for a sequence of dates"""

    dates = dates.astype('datetime64[s]').astype('O')
    
    start, end, count = dates[0], dates[-1], len(dates)
    years = end.year - start.year

In [11]:
start.year, start.month, start.toordinal()

(1980, 12, 723161)

In [12]:
start.strftime("%Y-%m-%d")

'1980-12-12'

In [23]:
import numpy as np

ts = np.datetime64('2024-03-15T10:30:00')
# ts.astype('datetime64[s]').astype('O').strftime('%Y-%m-%d %H:%M:%S')
ts.astype('O').strftime('%Y-%m-%d %H:%M:%S')
# '2024-03-15 10:30:00'

'2024-03-15 10:30:00'