# Fetching prices with the helper module (deprecated)

In [1]:
import warnings

from mplchart import helper

warnings.filterwarnings("ignore", module="yfinance")

/var/folders/s8/jtb72jcx6739t9rmc8pl26980000gn/T/ipykernel_85930/979739564.py:3: DeprecationWarning: The helper module is deprecated
  from mplchart import helper

In [2]:
[k for k, v in vars(helper).items() if callable(v)]

['list_cache', 'clear_cache', 'map_frequency', 'maximum_period', 'get_prices']

In [3]:
for file in helper.list_cache():
    print(file.name)

mplchart.helper.AAPL.1d.max.csv
mplchart.helper.AAPL.1mo.max.csv
mplchart.helper.AAPL.1wk.max.csv

In [4]:
helper.clear_cache(verbose=True)

Deleting mplchart.helper.AAPL.1d.max.csv ...
Deleting mplchart.helper.AAPL.1mo.max.csv ...
Deleting mplchart.helper.AAPL.1wk.max.csv ...

In [5]:
helper.get_prices('AAPL', freq='daily')

,open,high,low,close,volume
date,,,,,
1980-12-12 00:00:00-05:00,0.099450,0.099882,0.099450,0.099450,469033600
1980-12-15 00:00:00-05:00,0.094694,0.094694,0.094261,0.094261,175884800
1980-12-16 00:00:00-05:00,0.087775,0.087775,0.087343,0.087343,105728000
1980-12-17 00:00:00-05:00,0.089504,0.089937,0.089504,0.089504,86441600
1980-12-18 00:00:00-05:00,0.092099,0.092532,0.092099,0.092099,73449600
...,...,...,...,...,...
2023-08-28 00:00:00-04:00,180.089996,180.589996,178.550003,180.190002,43820700
2023-08-29 00:00:00-04:00,179.699997,184.899994,179.500000,184.119995,53003900
2023-08-30 00:00:00-04:00,184.940002,187.850006,184.740005,187.649994,60813900
2023-08-31 00:00:00-04:00,187.839996,189.119995,187.479996,187.869995,60794500
2023-09-01 00:00:00-04:00,189.490005,189.919998,188.279999,189.460007,45732600

In [6]:
helper.get_prices('AAPL', freq='weekly')

,open,high,low,close,volume
date,,,,,
1980-12-08 00:00:00-05:00,0.099449,0.099882,0.099449,0.099449,469033600
1980-12-15 00:00:00-05:00,0.094694,0.098152,0.087343,0.097720,490134400
1980-12-22 00:00:00-05:00,0.102476,0.123231,0.102476,0.122799,187891200
1980-12-29 00:00:00-05:00,0.124528,0.124960,0.118043,0.119340,219452800
1981-01-05 00:00:00-05:00,0.117178,0.117178,0.104639,0.110259,197904000
...,...,...,...,...,...
2023-07-31 00:00:00-04:00,195.795601,196.464696,181.674670,181.744583,301423400
2023-08-07 00:00:00-04:00,181.884391,182.883042,176.311914,177.550232,332452600
2023-08-14 00:00:00-04:00,177.970001,179.690002,171.960007,174.490005,261440200
2023-08-21 00:00:00-04:00,175.070007,181.550003,173.740005,178.610001,247514300
2023-08-28 00:00:00-04:00,180.089996,189.919998,178.550003,189.460007,306400709

In [7]:
helper.get_prices('AAPL', freq='monthly')

,open,high,low,close,volume
date,,,,,
1985-01-01 00:00:00-05:00,0.100747,0.107665,0.096423,0.100314,6366416000
1985-02-01 00:00:00-05:00,0.100314,0.106368,0.085613,0.085613,4733388800
1985-03-01 00:00:00-05:00,0.085613,0.089937,0.071777,0.076533,4615587200
1985-04-01 00:00:00-05:00,0.076533,0.079560,0.067886,0.073506,2868028800
1985-05-01 00:00:00-04:00,0.073506,0.076965,0.058373,0.060102,4639129600
...,...,...,...,...,...
2023-05-01 00:00:00-04:00,168.818205,178.860742,163.861762,176.766464,1275155500
2023-06-01 00:00:00-04:00,177.460357,194.217727,176.691391,193.708420,1297101100
2023-07-01 00:00:00-04:00,193.518676,197.962672,186.348366,196.185074,996066400
2023-08-01 00:00:00-04:00,195.975361,196.464690,171.728106,187.616638,1322439400
2023-09-01 00:00:00-04:00,189.490005,189.919998,188.279999,189.460007,45732600

In [8]:
helper.get_prices('AAPL', freq='1min')

,open,high,low,close,volume
date,,,,,
2023-08-24 09:30:00-04:00,180.520004,180.770004,180.410004,180.520004,2279526
2023-08-24 09:31:00-04:00,180.529999,181.100006,180.449997,181.070007,308629
2023-08-24 09:32:00-04:00,181.070007,181.104004,180.339996,180.349899,280874
2023-08-24 09:33:00-04:00,180.350006,180.369995,179.940002,180.070007,438928
2023-08-24 09:34:00-04:00,180.080002,180.210007,179.690002,179.729996,290806
...,...,...,...,...,...
2023-09-01 15:55:00-04:00,189.380005,189.490005,189.369995,189.485001,284407
2023-09-01 15:56:00-04:00,189.485001,189.509995,189.449997,189.485001,250616
2023-09-01 15:57:00-04:00,189.485001,189.539993,189.440002,189.464996,341906
2023-09-01 15:58:00-04:00,189.464996,189.479996,189.440002,189.460007,264890
2023-09-01 15:59:00-04:00,189.460007,189.490005,189.279999,189.470001,808678

In [9]:
helper.get_prices('AAPL', freq='5min')

,open,high,low,close,volume
date,,,,,
2023-06-08 09:30:00-04:00,177.895004,178.750000,177.860001,178.241699,2512451
2023-06-08 09:35:00-04:00,178.255005,178.710007,178.110001,178.279999,821647
2023-06-08 09:40:00-04:00,178.289993,178.639999,178.119995,178.380005,778903
2023-06-08 09:45:00-04:00,178.369995,178.369995,177.880005,178.085007,697402
2023-06-08 09:50:00-04:00,178.089996,178.335007,177.789993,177.869995,773561
...,...,...,...,...,...
2023-09-01 15:35:00-04:00,189.100006,189.149994,188.943893,188.970001,390886
2023-09-01 15:40:00-04:00,188.979996,189.149994,188.979996,189.059998,485735
2023-09-01 15:45:00-04:00,189.070007,189.080002,188.940002,189.059998,465070
2023-09-01 15:50:00-04:00,189.039993,189.410004,188.940002,189.369995,1139702
2023-09-01 15:55:00-04:00,189.380005,189.539993,189.279999,189.470001,1950497

In [10]:
helper.get_prices('AAPL', freq='15min')

,open,high,low,close,volume
date,,,,,
2023-06-08 09:30:00-04:00,177.895004,178.750000,177.860001,178.380005,4113001
2023-06-08 09:45:00-04:00,178.369995,178.369995,177.759995,177.854996,2374141
2023-06-08 10:00:00-04:00,177.770096,178.169998,177.460007,178.099899,2455042
2023-06-08 10:15:00-04:00,178.100006,178.630005,177.945007,178.470001,1810743
2023-06-08 10:30:00-04:00,178.490005,178.880005,178.389999,178.650101,1629126
...,...,...,...,...,...
2023-09-01 14:45:00-04:00,188.759995,188.910004,188.720001,188.889893,770618
2023-09-01 15:00:00-04:00,188.880005,188.979996,188.750000,188.858002,958878
2023-09-01 15:15:00-04:00,188.854996,189.080002,188.750107,189.050003,894098
2023-09-01 15:30:00-04:00,189.050003,189.149994,188.943893,189.059998,1237817
2023-09-01 15:45:00-04:00,189.070007,189.539993,188.940002,189.470001,3555269

In [11]:
helper.get_prices('AAPL', freq='1hour')

,open,high,low,close,volume
date,,,,,
2023-06-08 09:30:00-04:00,177.895004,178.750000,177.460007,178.470001,10752927
2023-06-08 10:30:00-04:00,178.490005,179.429993,178.389999,179.239105,5780209
2023-06-08 11:30:00-04:00,179.239395,180.000000,179.139999,179.969894,5797046
2023-06-08 12:30:00-04:00,179.960007,179.970001,179.399994,179.470001,3341042
2023-06-08 13:30:00-04:00,179.464996,179.979996,179.009995,179.945007,3800213
...,...,...,...,...,...
2023-09-01 11:30:00-04:00,188.679993,189.210007,188.360107,189.115005,4230174
2023-09-01 12:30:00-04:00,189.110001,189.320007,188.839996,189.000000,3233746
2023-09-01 13:30:00-04:00,188.990005,189.225006,188.630005,188.720093,3052530
2023-09-01 14:30:00-04:00,188.720001,189.080002,188.520004,189.050003,3627574
2023-09-01 15:30:00-04:00,189.050003,189.539993,188.940002,189.460007,4793086